<!DOCTYPE html>
<html>
<head></head>
<body>
  <% if (conferences) { %>
    <h2>Conferences</h2>
    <p>Instructions: Try calling <%= phoneNumber %> and refresh this page to see the new Conference that is created.</p>
    <table>
      <tr>
        <th />
        <th>Friendly Name</th>
        <th>Conference SID</th>
        <th>Date Created</th>
        <th>Status</th>
      </tr>
      <% conferences.forEach(function (conference, i) {  %>
        <tr>
          <td><%= i+1 %>.</td>
          <td><a href="conferences/<%= conference.sid %>"><%= conference.name %></a></td>
          <td><%= conference.sid %></td>
          <td><%= conference.createdAt %></td>
          <td><%= conference.status %></td>
        </tr>
      <% }) %>
    </table>
  <% } %>
  <script type='text/javascript'>
  const hostname = location.origin.replace(/^http/, 'ws');
  const ws = new WebSocket(hostname);
  const conferences = <%- JSON.stringify(conferences) %>;
  ws.onmessage = (event) => {
    const updatedConference = JSON.parse(event.data);
  }
  </script>
</body>
</html>